*{
    font-family: Verdana;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: -9px;
    padding: 0px 16px;
}
header ul{
    display: flex;
    list-style: none;
}
header ul li{
    padding: 5px;
}
a{
    text-decoration: none;
}